@use "sass:math";
@import '../styles/_scaffold';

.tag {
  font-size: 14px;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  position: fixed;
  z-index: 2;
  width: 100%;
  @include media-breakpoint-up(md) {
      border: 0;
      background: none;
      text-align: right;
      position: fixed;
      top: 30px;
      right: 30px;
  }
  span {
      position: relative;
      animation: 0.7s ease-in-out both title-fade;
      animation-delay: 5;
      opacity: 1;
      
      @include media-breakpoint-up(md) {
        display: block;
      }
      @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
              animation-delay: $i * (math.div(8s, 20));
          }
      }
    }
}